[Unit]
Description="CDS UI"

[Service]
User={{ run_user }}
WorkingDirectory=/home/{{ run_user }}/cds/
ExecStart=/home/{{ run_user }}/cds/cds-engine start ui --config /home/{{ run_user }}/cds/conf.toml
Restart=always

[Install]
WantedBy=multi-user.target